:root {
  --color-lightGrey: hsl(212, 45%, 89%);
  --color-darkNavy: hsl(218, 44%, 22%);
  --color-grey: hsl(220, 15%, 55%);
  --color-white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--color-lightGrey);
  font-family: Arial, sans-serif;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  display: flex;
  margin: 0;
}

#qr_Box {
  background-color: var(--color-white);
  width: max(20vw, 325px);
  flex-direction: column;
  border-radius: 15px;
  align-items: center;
  text-align: center;
  display: flex;
}

#qrCode {
  border-radius: 10px;
  margin-top: 18px;
  width: 90%;
}

h1 {
  color: var(--color-darkNavy);
  font-size: 26px;
  font-family: Outfit;
  text-align: center;
  font-weight: 700;
  margin: 28px 0 10px 0;
  width: 88%;
}

p {
  color: var(--color-grey);
  font-family: Outfit;
  text-align: center;
  margin: 15px 0 40px 0;
  font-weight: 400;
  font-size: 18px;
  width: 80%;
}

@media (min-width: 431px) and (max-width: 1024px) {
  h1{
    font-size: 24px;
  }
  p{
    font-size: 17px;
  }
}

@media (max-width: 430px) {
  h1{
    font-size: 22px;
  }
  p{
    font-size: 16px;
  }
}